<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <script src="/js/post.js"></script>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">    <title>Mongo Scraper!</title>
</head>
<body>
     <header>
        <nav class="navbar navbar-dark bg-primary  mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><h2>NewsScraper</h2></a>
                <div class="float-md-right">
                    <a class="btn text-light" href="/scrape"><h5>Scrape Washington Post</h5></a>
                    <a class="btn text-light" href="/articles"><h5>View Washington Post Articles</h5></a>                
                    <a class="btn text-light" href="/savedarticles"><h5>View Saved Articles</h5></a>
                    
                </div>
            </div>
        </nav>


    </header>

    {{{body}}}
</body>
</html>