
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
   {{#each data}}
<a href={{this.link}}><h5>{{this.title}}</h5></a>
<button type="button" id={{this._id}} class="btn btn-success aButton">Comment</button> <button type="button" value={{this._id}} class="btn btn-danger dButton">Remove from Saved</button>

    
    {{/each}}


        </div>

        <div class="col-md-1">

        </div>



 


</div>
</div>